@font-face {
    font-family: myfont;
    src: url(../font/Aaargh-webfont.woff);
}

.RadInput_Default, .RadInputMgr_Default {
    font-family: "Proxima Nova Regular" !important;
    font-size: 16px !important;
    border: 1px solid rgba(204, 204, 204, 0.41) !important;
}

.riSingle .riTextBox,
html body .riSingle [type='text'].riTextBox {
    padding: 6px !important;
    min-height: 40px !important;
}

.RadInput_Default .riTextBox,
html body .RadInputMgr_Default {
    font-family: "Proxima Nova Regular" !important;
    font-size: 16px !important;
    border: none !important;
}

.RadInput_Default .riFocused {
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 0px 13px 0px rgba(42,42,42,.42);
}

html body .RadInput_Default .riTextBox {
    border-color: rgba(220, 220, 220, 0.50);
    border-style: solid;
    padding: 10px;
    font-size: 20px;
}

html body .RadInput_Default .riDisabled {
    color: #000 !important;
}

html body .RadInput_Default .riHover {
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 0px 13px 0px rgba(42,42,42,.42);
}
