@font-face {
    font-family: myfont;
    src: url(../font/Aaargh-webfont.woff);
}

.RadListBox_Metro .rlbGroup {
    border: 1px solid #B0B0B0 !important;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.24) !important;
}

.RadListBox_Metro .rlbList .rlbSelected {
    color: #000 !important;
    border: none !important;
}

.RadListBox_Metro .rlbList .rlbHovered {
    color: #000 !important;
}

.RadListBox .rlbGroup .rlbActive {
    padding: 2px 5px !important;
}