@font-face {
    font-family: myfont;
    src: url(../font/Aaargh-webfont.woff);
}

.RadTile .rtileBottomContent {
    height: 30px !important;
    padding: 5px !important;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    width: 100% !important;
}

.RadTile_Default {
                font-family: "Proxima Nova Regular" !important;
    font-size: 14px !important;
}