@font-face {
    font-family: myfont;
    src: url(../font/Aaargh-webfont.woff);
}

.RadTabStrip .rtsLI {
    width: 250px;
}

.RadTabStrip .rtsLevel .rtsTxt {
    text-decoration: none !important;
}

/*BootStrap Style*/

.RadTabStrip_Bootstrap .rtsLevel1 .rtsLink {
    border: 1px solid transparent;
    color: #0F3057 !important;
    background-color:white !important;
}

.RadTabStrip_Bootstrap .rtsLevel1 .rtsDisabled, .RadTabStrip_Bootstrap .rtsLevel1 .rtsDisabled:hover {
    border: 1px solid transparent;
    color: #0F3057 !important;
    background-color:white !important;
}

    .RadTabStrip_Bootstrap .rtsLevel1 .rtsLink:hover {
    transition: box-shadow .25s !important;
      box-shadow: 0px 1px 15px 0px !important;
}

.RadTabStrip_Bootstrap .rtsLevel1 .rtsSelected {
    border-color: #dedede;
    background-color: #0F3057 !important ;
    color:white !important ;
}

   .RadTabStrip_Bootstrap .rtsLevel1 .rtsSelected:hover{

}




   