@font-face {
    font-family: myfont;
    src: url(../font/Aaargh-webfont.woff);
}

.RadUpload .ruFileWrap {
    /*height: 35px !important;*/
    border-radius: 4px !important;
}

.RadUpload .ruInputs li {
    float: left;
}

.RadUpload .ruFakeInput {
    height: 30px !important;
}

.RadUpload .ruStyled .ruFileInput, .RadUpload .ruFakeInput {
    padding: 0 !important;
    line-height: 30px !important;
    vertical-align: middle;
}

.RadUpload_Default .ruButton, .RadUploadProgressArea_Default .ruButton {
    width: 90px !important;
    height: 30px !important;
    background-image: none !important;
    border: 1px solid black !important;
    background: #eeeeee !important;
                font-family: "Proxima Nova Regular" !important;
    font-size: 16px !important;
}

.RadUpload .ruRemove {
    padding-left: 0 !important;
    width: 90px !important;
}

.RadUpload_Default .ruRemove {
    padding-left: 6px !important;
    margin-left: 6px !important;
}

.RadUpload .ruBrowse {
    margin-left: 6px !important;
}

.RadUpload .ruFileWrap {
    line-height: 30px !important;
    vertical-align: middle;
}

.RadAsyncUpload span.ruFileWrap {
    border-radius: 0 !important;
      height: 40px !important;
}


/*RADASYNCUPLOAD BOOTSTRAP*/
